<!-- <mat-card>
  <h2>Products</h2>

  <mat-progress-bar *ngIf="loading$ | async" mode="indeterminate"></mat-progress-bar>

  <div *ngIf="error$ | async as error" class="error">
    {{ error?.message || error }}
  </div>

  <app-product-list [products]="(products$ | async) || []"></app-product-list>
</mat-card>
 -->

 <!DOCTYPE html>
<html lang="en">
  <!-- codingflicks.com -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How to Create Responsive Cards in HTML CSS</title>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    

</head>



<body>
    
    <nav id="navbar">
    <div class="nav-center">
        <ul class="nav-list">
        <li class="nav-link-active"><a class="nav-link" href="/app/home"><i class="uil uil-home-alt"></i> Home</a></li>
        <li class="nav-link-ani"><a class="nav-link" href="/app/products"><i class="uil uil-chat"></i>Products</a></li>
        <li class="nav-link-ani"><a class="nav-link" href="/app/product-rating"><i class="uil uil-shopping-bag"></i> Products Rating</a></li>
        <li class="nav-link-ani"><a class="nav-link" href="/app/cart"><i class="uil uil-chat"></i>Cart</a></li>
        <li class="nav-link-ani"><a class="nav-link" href="/app/login"><i class="uil uil-user"></i>Disconnect</a></li>
        </ul>
    </div>
</nav> 

  <div class="wrapper">
      <div class="box-area">
          
          <!-- Boucle sur les produits -->
          <a *ngFor="let product of (products$ | async) || []"
            [routerLink]="['/products', product.id]">
              
              <div class="box">
                <h2 style="font-size: 30px;">{{ product.name }}</h2>
                  <div class="img-box">
                      <img [src]=" '../../../assets/img/products.png'" alt="">
                  </div>
                  
              </div>

          </a>

      </div>
  </div>

  </body>
</html>